@import "tailwindcss";

:root{
    --bg:#0B1120;
    --card:#1E293B;
    --sidebar:#111827;
    --primary:#3B82F6;
    --cyan:#06B6D4;
    --purple:#8B5CF6;
    --success:#22C55E;
    --warning:#F59E0B;
    --danger:#EF4444;
    --text:#F8FAFC;
    --muted:#94A3B8;
}

body{
    margin:0;
    background:var(--bg);
    color:var(--text);
    font-family:Inter,sans-serif;
}